html, body {
    width: 100%;
    height: 100%;
}
.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("http://unsplash.it/1200x800") center center no-repeat;
    background: linear-gradient(#e26742, white);
    background-size: cover;
}
.bg-img:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(#e26742, white);
    opacity: 0.6;
}
