main{
    width: 100%;
    height:100%;
    background: linear-gradient(#e26742, white) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.w3-border{
    position:relative;
    height:30vw;
    width: 30vw;

}

.testo{
    position:absolute;
    width:50%;
    height:40vw;
    text-align:center;
    right:2vw;
}



.btn5{
    top:1vw;
    width:60%;
    padding:0.7em 1.4em;
    border:none;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'arial';
    text-transform:uppercase;
    font-weight:800;
    color:#FFFFFF;
    background-color:#e33939;
    box-shadow:inset 0 -0.6em 0 -0.3em rgba(0,0,0,0.20);
    text-align:center;
    position:relative;
    cursor:pointer;
}
.btn5:hover{
    background:#E64B3E;
}
.btn5:active{
    background:#e33000;
    top:0.15em;
    color:#D9D9D9;
    box-shadow:none;
}

.wrapper{
    position:relative;
    height:40vw;
    width: 30vw;
    margin-left:20vh;
}

.bottone{
    text-align:center;
    position:relative;


}
* {
    box-sizing: border-box
}



.titolo {
    font-family: "Exo", sans-serif;
    font-size:4vw;
    font-weight:1000;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
}


@media screen and (min-width: 768px) {
    h1 {
        font-size: 6.5rem;
    }
}
